body {
    font-family:  Arial, sans-serif;
    align-items: center;
    padding: 20px;
    background: #f0f0f0;
}
span{
    color: red;
}
.a{
    color: green;
}

a {
    color: blue;
}
.image{
    width: 250px;
    border-radius: 100px;
    margin-right: 100px;
}